* {
    margin: 0;
    padding: 0;
}
body {
    background-color:  #f2f2f2;
}

nav img {
    left: 100px;
    position: absolute;
    height: 50px;
}
nav h1 {
    left: 150px;
    position: absolute;
    font-family: 'Homemade Apple', cursive;
    color: #0009;
}

.nav-link ul li,a, .tengah{
    position: relative;
    display: inline;
    font-family: Poppins;
    color: #0009;
    text-decoration: none;
    font-size: 15px;
    padding: 30px;

}
.nav-link ul li:hover,a:hover, .tengah:hover {
    color: rgb(255, 255, 255);
}


nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 102, 153,0.50);
    height: 70px;
    position: fixed;
    width:100%;
    z-index: 10;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
.content{
    padding-top: 70px;
    min-height: calc(100vh - 135px);
}
#puter {
    background-color: rgba(255, 102, 153,0.50);
    height: 65px;
    width: 100%;
    padding: 20px 0;
}
#puter h4 {
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    color:#0009;
    font-family: Poppins;
    padding-bottom: 20px;
    font-size: 12px;
}
#puter a {
    display: inline-block;
    float: left;
    color: #0009;
    padding: 0;
    margin-top: 25px;
    margin-left:30px;
  }

  