* {
    margin: 0;
    padding: 0;
}
body {
    background-color:  #f2f2f2;
}


img {
    position: fixed;
    left: 20px;
}
h1 {
    position: fixed;
    left: 60px;
    font-family: 'Homemade Apple', cursive;
    color: #0009;
}

.nav-link ul li,a, .tengah{
    position: relative;
    display: inline;
    font-family: Poppins;
    color: #0009;
    text-decoration: none;
    font-size: 15px;
    margin: 10px;

}
.nav-link ul li:hover,a:hover, .tengah:hover {
    color: rgba(255, 102, 153,1)
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(255, 102, 153,0.50);
    height: 50px;
    position: fixed;
    width:100%;
    z-index: 10;
}

#map {
    width: 100%;
    height: 100px;
}

#puter {
    background-color: rgba(255, 102, 153,0.30);
    position: absolute;
    width: 100%;
    bottom: 0;

}
h4 {
    display: inline-block;
    float: right;
    margin-top: 20px;
    margin-right: 10px;
    color:#0009;
    font-family: Poppins;
    padding-bottom: 20px;
}

i {
  display: inline-block;
  margin-top: 25px;
  float: left;
  margin-left:30px;
  color: #0009;
}
